name: Build image and push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-demo-image:${{ github.sha }}

    - name: Tag image with Registry
      run: docker tag my-demo-image:${{ github.sha }} my-registry/my-demo-image:${{ github.sha }}

    - name: Push to Registry
      run: echo "docker push my-registry/my-demo-image:${{ github.sha }}"

  scan:

    runs-on: ubuntu-latest
    container:
      image: registry.aquasec.com/scanner:latest-saas
      credentials:
          username: ${{  secrets.REGISTRY_USERNAME }}
          password: ${{  secrets.REGISTRY_PASSWORD }}
    steps:
    - name: Scan image
      run: scan --token ${{  secrets.SCANNER_TOKEN }} --host https://cca15038ac-d.cloud.aquasec.com --local my-registry/my-demo-image:${{ github.sha }}