name: Build image and push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-demo-image:${{ github.sha }}

    - name: Tag image with Registry
      run: docker tag my-demo-image:${{ github.sha }} my-registry/my-demo-image:${{ github.sha }}

    - name: Push to Registry
      run: echo "docker push my-registry/my-demo-image:${{ github.sha }}"

    - name: Export the Docker image
      run: docker save my-registry/my-demo-image:${{ github.sha }} > /tmp/myimage.tar

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: myimage
        path: /tmp/myimage.tar

  scan:

    runs-on: ubuntu-latest
    needs: build
    container:
      image: registry.aquasec.com/scanner:latest-saas
      credentials:
          username: ${{  secrets.REGISTRY_USERNAME }}
          password: ${{  secrets.REGISTRY_PASSWORD }}
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: myimage
        path: /tmp
    - name: Scan image
      run: /opt/aquasec/scannercli scan --token ${{  secrets.SCANNER_TOKEN }} --host https://cca15038ac-d.cloud.aquasec.com --docker-archive /tmp/myimage.tar